.emp-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.emp-modal {
  width: 450px;
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
  animation: popupFade 0.25s ease-in-out;
}

@keyframes popupFade {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.emp-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.emp-modal-body {
  margin-top: 15px;
  font-size: 15px;
  line-height: 1.6;
}

.emp-close-btn {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  color: red;
}
