.dashboard-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* SIDEBAR */
.sidebar-wrapper {
  width: 250px;
  min-width: 250px;
  background-color: #1f2937;

  position: relative;
  z-index: 1;
}

/* MAIN CONTENT */
.dashboard-content {
  flex: 1;
  background-color: #f3f4f6;
  padding: 40px;

  position: relative;
  z-index: 5;              /* CONTENT ALWAYS ABOVE */
  overflow-y: auto;
  overflow-x: hidden;

  pointer-events: auto;   /* ALLOW CLICKS */
}
